.footer {
  width: 100%;
  text-align: center;
  background-color: gray;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  height: 100px;
}

.footerContent {
  justify-content: center;
  display: flex;
  margin: 28px;
  padding-top: 30px;
}

.footerItem {
  padding-left: 20px;
  padding-right: 20px;
}

.footerItem:hover {
  transition: 300ms transform ease-in;
  transform: scale(1.1);
}

.footerItem > a {
  cursor: pointer;
  color: white;
}

.footerItem > a:hover {
  color: rgb(211, 211, 211);
}
